<div id='footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-3 col-sm-offset-1'>
        <h4>CAMPAIGNING</h4>
        Start Your Campaign<br>
        Pricing<br>
        Campaign Playbook<br>
        Campaign Support<br>
      </div>
      <div class='col-sm-3'>
        <h4>CONTRIBUTING</h4>
        Explore<br>
        Partner Pages<br>
        Contributing Playbook<br>
        Contributing Support<br>
      </div>
      <div class='col-sm-5'>
        <h4>SIGN UP FOR DAILY INSPIRATION</h4>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="this doesn't do anything">
          <span class="input-group-btn">
            <button class="btn btn-success" type="button">SIGN UP</button>
          </span>
        </div>
        Private, secure, spam-free
      </div>
    </div><br><br>
    <div class='row'>

      <div class='col-sm-3'>
        <h4>HELP</h4>
        Crowdfunding Playbook<br>
        Help & Support<br>
        Contact Us<br>
      </div>
      <div class='col-sm-3'>
        <h4>GET THE LATEST</h4>
      </div>
      <div class='col-sm-2'>
        <h4>LANGUAGE</h4>
      </div>
    </div>
    <hr>
    <span>Terms of Use | </span>
    <span>Privacy Policy | </span>
    <span>Cookie Policy | </span>
    <span>Partner Terms | </span>
  </div>
</div>
