<!DOCTYPE html>
<html>
	<head>
	  <title>MyMorsels</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

		<div id='navBarEl'></div>
		<div id='mainEl'></div>
		<div id='footerEl'></div>

		<%= yield %>
	</body>
</html>
